@import "tailwindcss";
/* @plugin "tailwindcss-react-aria-components"; */
@plugin "tailwindcss-animate";

@theme {
  --color-sky-50: #f2f9fd;
  --color-sky-100: #e5f0f9;
  --color-sky-200: #c5e2f2;
  --color-sky-300: #92cae7;
  --color-sky-400: #57add9;
  --color-sky-500: #3293c5;
  --color-sky-600: #2276a7;
  --color-sky-700: #1f6692;
  --color-sky-800: #1c5170;
  --color-sky-900: #1c445e;
  --color-sky-950: #132c3e;

  --color-slate-50: #d5e4ed;
  --color-slate-100: #cedfea;
  --color-slate-200: #c1d3e1;
  --color-slate-300: #abbfd0;
  --color-slate-400: #889db1;
  --color-slate-500: #56697c;
  --color-slate-600: #2b3947;
  --color-slate-700: #141e2a;
  --color-slate-800: #09111b;
  --color-slate-900: #040b14;
  --color-slate-950: #020812;

  --color-primary: var(--color-sky-700);
  --color-secondary: #001c49;

  --font-sans: var(--font-roboto), sans-serif;
  --font-display: var(--font-bourgeois-rounded), sans-serif;

  --animate-infinite-slide: infinite-slide 20s linear infinite;

  @keyframes infinite-slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}
